<%= form_with do |form| %>
<div class="login-form-div">
    <%= form.text_field :login,class: 'form-field-login'%>

    <%= form.button 'Search', type: :submit, class: 'search-btn'%>
    </div>
<% end %>
