<div class="container main-div">
    <div class="login-div">
        <p class="login-title">Enter your GitHub login:</p>

        <%= render 'users/form' %>
    </div>
    <% if @user %>
        <%= render 'users/user_info_block', user: @user %>
    <% end %>
    
    <% if @repos %>
        <p class="repos-title"> GitHub repositories: </p> 
        </br>
        <div id="names-of-repos">
            <%= render partial: 'repos/repos', collection: @repos, as: :repo %>
        </div>
    <% end %>


</div>