.repos-title{
    font-weight: 600;
    font-size: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-top: 15px;
}

.repo-div{
    margin-left: 70px;
    p{
        font-size: 20px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        color: #0394fc;
    }
}