.repos-title {
    font-weight: 600;
    font-size: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-top: 15px;
}

.repo-div {
    margin-left: 70px;
}

.repo-name-a {
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #0394fc;
    text-decoration: none;
}

.repo-name-span {
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}