<% flash.each do |type, msg| %>
  <div class="toaster-container" onchange="handleToasterVisibility()">
    <div class="toaster-header-container">
      <%= image_tag("error_icon.svg", alt: "Error", class: "toaster-img") %>
      <span class="toaster-title">Ooops</span>
      <button class="toaster-btn" onclick="onToasterCloseHandler()">&#10006;</button>
    </div>
    <span class="toaster-description"><%= msg %></span>
  </div>
<% end %>
